<launch>
    <node name="radius_removal" pkg="simpcl" type="radius_removal" output="screen">
        <param name="subscribed_topic" type="string" value="/point_cloud"/>
        <param name="published_topic" type="string" value="cloud_removed"/>
        <param name="radius" type="double" value="0.5"/>
        <param name="minNeighbors" type="int" value="100"/>
    </node>
</launch>
